#aquarium-bg {
  filter: blur(2px) brightness(0.7);
  z-index: 0;
}

canvas {
  z-index: 1;
}

#title-text {
  font-family: 'Faculty Glyphic', sans-serif;
  font-size: 4rem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);

  border-radius: 50%;
  color: white;
  font-size: 28px;

  text-decoration: none;

  z-index: 5;

  transition: all 0.3s ease;
}

.github-button:hover {
  transform: scale(1.1);
}

.tooltip-inner {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  font-size: 14px;
}

.tooltip-arrow::before {
  border-left-color: rgba(0, 0, 0, 0.8) !important;
}